[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
torch = "*"
numpy = "*"
six = "*"
tensorflow = "==2.1.0"
pandas = "*"
matplotlib = "*"
wandb = "*"
scipy = "*"
soundfile = "*"
keras = "*"
librosa = "*"
tensorflow-addons = "*"
torchaudio = "*"
torchsummary = "*"
barbar = "*"
sklearn = "*"

[requires]
python_version = "3.6"
