[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
torch = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
wandb = "*"
scipy = "*"
soundfile = "*"
librosa = "*"
barbar = "*"
sklearn = "*"
sru = "*"
python-levenshtein = "*"
visdom = "*"
tqdm = "*"
wget = "*"
apex = {editable = true,git = "https://github.com/NVIDIA/apex.git"}
multiproc = "*"

[requires]
python_version = "3.6"
